@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

html {
    background-color: #dbc9b9;
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#content {
    height: 100%;
}

.page-header{
    background-color: rgba(0, 0, 0, 0.733);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: #d44a31 solid;
}

.footer{
    background-color: rgba(0, 0, 0, 0.671);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: #d44a31 solid;
}


.page-header h1 {
    color: #d44a31;
    font-family: 'Megrim', cursive;
    font-size: 5.5rem;
    margin: 0 0 0 2rem;
    letter-spacing: 2rem;
}

.textCont {
    padding: 0.8rem;
    display: flex;
    align-items: center;
}

.textCont p {
    color: #d44a31;
    margin: 0 0 0 2rem;
    letter-spacing: 0.2rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    margin: 0 2rem 0 0;
    user-select: none;
}

.nav-button{
    color: white;
    font-size: 1.3rem;
    font-family: 'Marcellus', serif;
    padding: 20px;
    transition: transform 0.15s;
}

.nav-button:hover {
    color:#d44931a8;
    transform: translateY(-10%);
    cursor: pointer;
}

.nav-button.active {
    color: #d44a31;
    border-bottom: 1px white solid;
}

.main-container{
    height: 50vw;
    background-image: url(images/background.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.tagline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order{
    display: flex;
    align-items: center;
    margin: 4rem 2rem 0 2rem;
    font-size: 2rem;
}

.order-button{
    font-family: 'Marcellus', serif;
    width: 10em;
    border-radius: 10px;
    background-color: #0000007c;
    border-color: #d44a31;
    color: #d44a31;
    font-weight: 900;
    font-size: 2rem;
    padding: 2rem;
    transition: cubic-bezier(.77,0,.18,1) 0.4s;
    user-select: none;
}

.order-button:hover{
    cursor: pointer;
    background-color: #d44a31;
    color: black;
}

.tagline{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    margin: 4em 0 0 0;
    font-size: 2rem;
}

.tagline p{
    margin: 0;
    padding: 0.8rem;
    font-weight: 600;
    font-size: 3rem;
    font-family: 'Marcellus', serif;
}

#subtitle{
    margin-top: 1rem;
    font-size: 1.8rem;
}

.separator{
    margin-top: 0.8rem;
    border-bottom: 2px rgb(209, 209, 209) solid;
    width: 80px;
}

.button-container{
    display: flex;
}

.contact-page{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 7rem 0 0 0 ;
}

.contact-container, .hours-container{
    background-color: #000000d7;
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 2rem 0 2rem 0;
    border: 2px #d44a31 solid;
    margin: 0 9rem 3rem 9rem;
    border-radius: 12px;
}

.phone, .email, .weekday, .weekend{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 2rem 0 2rem 0;
}

.hours {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hours-title{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
.contact-title{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.menu-head{
    display: flex;
    justify-content: center;
    font-size: 6rem;
    color: #d44a31;
    margin: 0;
}

.menu-head p{
    border-bottom: 2px #00000094 dashed;
    margin: 0;
}

.menu-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;

    margin: 6rem;

    background-color: #00000094;
    border: 2px #d44a31 solid;
    border-radius: 12px;
}

.item-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 2rem;
}

.item-head{
    display: flex;
    justify-content: space-between;
}

.item-price, .item-name, .item-description{
    color: white;
}

.item-name{
    border-bottom: 2px #d44a31 dashed;
}

#adjariankhachapuri{
    transform: scaleY(1.15) translateY(6%);
}

.fa-github {
    color: black;
}

.fa-github:hover{
    color: grey;
}